<table class="stats">
	<tr class="stats">
    <th class="stats">Número de preguntas</th>
    <td class="stats"><%= totalQuizes %></td>
  </tr>
  <tr class="stats">
    <th class="stats">Número de comentarios totales</th>
    <td class="stats"><%= totalComments %></td>
  </tr>
  <tr class="stats">
    <th class="stats">Número medio de comentarios por pregunta</th>
    <td class="stats"><%= commentsPerQuiz %></td>
  </tr>
  <tr class="stats">
    <th class="stats">Número de preguntas sin comentarios</th>
    <td class="stats"><%= totalQuizesWithoutComments %></td>
  </tr>
  <tr class="stats">
    <th class="stats">Número de preguntas con comentarios</th>
    <td class="stats"><%= totalQuizesWithComments %></td>
  </tr>        
</table>